<!DOCTYPE html>
{% extends "rango/base.html" %}

{%  load staticfiles %}

{% block title %}Rango{% endblock %}

{% block body_block %}
        {% if user.is_authenticated %}
            <h1>Rango says...hello world! {{ user.username }}</h1>

                {% if categories %}
                <ul>
                    {% for category in categories %}
                        <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>

                    {% endfor %}
                </ul>
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
            <p>visits: {{ visits }}</p>

        {% else %}
            <h1>Rango says...hello world!</h1>
        {% endif %}
{% endblock %}
{#<!DOCTYPE html>#}
{##}
{#{%  load staticfiles %}#}
{##}
{#<html>#}
{##}
{#        <head>#}
{#            <title>Rango</title>#}
{#        </head>#}
{##}
{#        <body>#}
{#            {% if user.is_authenticated %}#}
{#            <h1>Rango says...hello world! {{ user.username }}</h1>#}
{#                <a href="/rango/restricted/">Restricted Page</a><br/>#}
{#                <a href="/rango/logout/">Logout</a><br/>#}
{#                <a href="/rango/add_category/">Add a New Category</a><br/>#}
{#                {% if categories %}#}
{##}
{#                <ul>#}
{#                    {% for category in categories %}#}
{#                        <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#                {% else %}#}
{#                    <strong>There are no categories present.</strong>#}
{#                {% endif %}#}
{##}
{#            {% else %}#}
{#            <h1>Rango says... hello world!</h1>#}
{#                <a href="/rango/register/">Register Here</a><br/>#}
{#                <a href="/rango/login/">Login</a><br/>#}
{#            {% endif %}#}
{#                <a href="/rango/about/">About</a><br/>#}
{##}
{##}
{#        </body>#}
{#</html>#}